XML/colleged.dtd

<!ELEMENT college (teaching,nonteaching,student)>  
<!ELEMENT teaching (name,id,department)>
<!ELEMENT nonteaching (name,id)>  
<!ELEMENT student (name,id,department,year,section)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT department (#PCDATA)> 
<!ELEMENT year (#PCDATA)>
<!ELEMENT section (#PCDATA)>  
<!ATTLIST name type CDATA "Name">

  