XML/ww.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="register">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="name" type="xs:string"></xs:element>
            <xs:element name="uname" type="xs:string"></xs:element>
            <xs:element name="password" type="xs:string"></xs:element>
            <xs:element name="mobile" type="xs:int"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>